
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  direction: rtl;
  font-family: sans-serif;
  background: #111;
  color: #fff;
}

body {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

main {
  width: 100%;
}
